body {
	font-size: 16px;
	color: #fff;
	background-color: #000;
}

/*Home page*/
/*Header main page*/
.header-img {
	position: relative;
	height: 500px;
	overflow: hidden;
}
.header-img > img {
	width: 100%;
}
.header-img .header-opq {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 500px;
	background-color: #0b5345;
	opacity: .8;
}
.header-img .logo {
	position: absolute;
	bottom: 10%;
	left: 36%;
}
.logo img {
	height: 80%;
	width: 80%;
}
/*header main page ends*/

/*body main page*/
#category-title {
	padding-top: 15px;
	padding-bottom: 15px;
}
#main-page > div {
	padding-bottom: 70px;
}
#main-page section div {
	margin-bottom: 30px;

}
.category-tile {
	position: relative;
	border: 2px solid #000;
	overflow: hidden;
	width: 200px;
	margin: 0 auto 15px;
}
.category-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}
.category-tile img {
	height: 150px;
}
.category-tile p {
	color: #fff;
}
/*body main page ends*/
/*Home page ends*/

/*subpage*/
nav {
	background-color: #0b5345;
	opacity: .8; 
}
.navbar-brand {
	position: relative;
}
.brand-logo:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}
.to-home {
	position: absolute;
	left: 80px;
	top: 15px;
	padding-left: 20px;
	color: #fff;
	font-size: 20px;
}
.explore {
	position: absolute;
	color: #fff;
	font-size: 20px;
	left: 200px;
	top: 15px;
}
.explore:hover {
	color: #fff;
}
/*subpage ends*/

/* footer */
.panel-footer {
	background-color: #0b5345;
	opacity: .8;
}
footer {
	margin-bottom: 30px;
	margin-top: 30px;
}
footer .text-center {
	padding-top: 15px;
}
footer .text-center.copyright {
	padding-bottom: 15px;
}

/*Media query*/

@media (max-width: 991px) {
	.header-img {
		height: 70vw;
	}
	.header-img .header-opq {
		height: 70vw;
	}
	.header-img .logo {
		background: 15vw;
		bottom: 15vw;
		right: 30vw;
		left: 30vw;
	}
	.logo img {
	height: 40vw;
	width: 40vw;
	}
}